h1 {
  text-align: center;
  color: #ffa200;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 2%; }

h2 {
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 1.5625em;
  line-height: 0.9em; }

h3 {
  margin: 0;
  line-height: 2em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.375em;
  color: #ffffff; }

h4 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #ffa200;
  line-height: 1.1em; }

p {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  margin: 0; }

.color-1 {
  color: #ffa200; }

.color-2 {
  color: #ffffff; }

a.color-1:hover {
  color: #ffffff; }

a.color-2:link {
  color: #ffffff;
  text-decoration: none; }

a.color-2:hover, a.color-2:active {
  color: #ffa200; }

.size-small {
  font-size: 1em; }

.size-large {
  font-size: 1.1em; }

section.service-gallery .text p {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #000000;
  text-align: justify; }

.shadow-block {
  display: block;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 1%; }

header {
  display: block;
  width: 100%;
  height: auto;
  background: url(../../images/garage.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

header .contacts {
  margin-top: 12%; }

.adress {
  text-align: right; }

.heading {
  display: block;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 4%; }

.heading p {
  color: #ffffff;
  font-size: 1.125em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.1em;
  padding: 2%; }

div.menu {
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #3a474b;
  opacity: 0.8;
  padding-top: 1%; }

.dropdown-menu {
  background-color: #3a474b; }

.navbar-brand img {
  width: 100%; }

div.tel-nav {
  display: block; }

.navbar a {
  line-height: 3em; }

.menu a {
  font-size: 1.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: #ffa200; }

.menu a:hover {
  color: #ffffff;
  background-color: #3a474b; }

.menu a:focus {
  color: #ffa200; }

.dropdown-menu-responsive {
  position: fixed;
  z-index: 10;
  display: none;
  width: 100%;
  background-color: rgba(58, 71, 75, 0.8); }

button.dropbtn {
  display: none;
  width: 100%;
  margin-top: 4%;
  margin-left: 20%;
  background-color: #000000;
  opacity: 1;
  border: none;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  color: #ffa200;
  font-size: 1.2em;
  font-family: Exo-Medium;
  cursor: pointer; }

.dropbtn:hover, .dropbtn:focus {
  opacity: 0.9; }

.dropdown-content {
  display: none;
  width: 100%;
  text-align: center;
  opacity: 1;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6); }

.dropdown-content a {
  display: block;
  font-family: Exo-Medium;
  font-size: 0.8em;
  color: #ffa200;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.dropdown-content a:hover {
  color: #ffffff; }

.dropdown-content a:hover {
  background-color: #000000;
  opacity: 0.8;
  color: #ffffff; }

.show {
  display: block; }

content.materials {
  display: block;
  background-color: #000000;
  padding-top: 10%;
  padding-bottom: 4%; }

content.materials .photos img {
  width: 80%;
  height: 100%;
  margin-left: 20%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px; }

content.materials .text {
  display: block;
  width: 100%;
  height: auto;
  padding: 4% 4%;
  margin-top: 4%;
  border: 1px solid #5f6671;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  text-align: center; }

content.materials .text p {
  font-size: 1em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-align: justify;
  color: #ffffff; }

content.services {
  display: block;
  width: 100%;
  height: auto;
  background-color: #000000;
  opacity: 1;
  padding-top: 10%;
  padding-bottom: 4%;
  text-align: center; }

content.services .heading {
  display: block;
  margin-bottom: 1%;
  text-align: center;
  width: 100%; }

content.services h3 {
  font-size: 1.5625em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: #ffa200;
  letter-spacing: 0.15625em; }

content.services .photos {
  display: block;
  width: 100%;
  margin-bottom: 2%; }

content.services img {
  width: 90%;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px; }

content.services .text {
  display: block;
  height: auto;
  width: 100%;
  padding: 2%;
  border: 1px solid #5f6671;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  text-align: center; }

content.services .text p {
  font-size: 1em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-align: justify;
  color: #ffffff; }

content.room-services {
  display: block;
  background-color: #000000;
  padding-top: 10%;
  padding-bottom: 4%; }

content.room-services .heading {
  display: block;
  margin-bottom: 2%;
  text-align: center;
  width: 100%; }

content.room-services h3 {
  font-size: 1.5625em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: #ffa200;
  letter-spacing: 0.15625em; }

content.room-services .photos {
  display: block;
  width: 100%; }

content.room-services img {
  width: 90%;
  height: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px; }

content.room-services .text {
  display: block;
  width: 96%;
  height: auto;
  padding: 4% 4%;
  margin-top: 4%;
  border: 1px solid #5f6671;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  text-align: center; }

content.room-services .text p {
  font-size: 1em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  text-align: justify;
  color: #ffffff; }

content.photo-gallery {
  display: block;
  width: 100%;
  height: auto;
  background-color: #000000;
  padding-top: 10%;
  padding-bottom: 4%; }

content.photo-gallery ul {
  padding: 0;
  margin: 0; }

content.photo-gallery ul li {
  list-style: none;
  margin-bottom: 2%;
  margin-top: 4%; }

content.photo-gallery ul li p {
  margin-top: 1%; }

content.photo-gallery ul li img {
  width: 100%;
  height: 90%;
  cursor: pointer;
  border: 2px solid #ffffff;
  opacity: 0.8;
  transition: opacity 0.5s;
  border-radius: 4px; }

content.photo-gallery ul li img:hover {
  opacity: 1; }

.overlay {
  display: none;
  padding-top: 4%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.overlay .closebtn {
  position: absolute;
  z-index: 3;
  top: -20px;
  right: -30px;
  font-size: 40px;
  color: #ffa200;
  text-decoration: none; }

.prev,
.next {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  top: 50%;
  width: auto;
  padding: 2%;
  margin-top: -50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffa200;
  text-decoration: none; }

.prev a,
.next a {
  text-decoration: none; }

.bigImage {
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid #ffffff; }

content.photo-gallery .content {
  top: 16%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 52%;
  max-width: 1200px; }

@media (min-width: 1025px) and (max-width: 1280px) {
  div.menu {
    height: 6%; }

  .menu a {
    font-size: 0.6em; }

  p.size-small {
    font-size: 1em; }

  p.size-large {
    font-size: 1.1em; }

  h1 {
    font-size: 1.8em;
    line-height: 1em; }

  h2 {
    font-size: 1.4em;
    line-height: 1em; }

  h3 {
    font-size: 1.2em;
    line-height: 1.3em; }

  section.service-gallery .text p {
    font-size: 1em;
    line-height: 1em; }

  footer p {
    font-size: 0.9em;
    line-height: 1.2em; }

  content.contacts {
    height: 100%; } }
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: block;
    width: 100%;
    position: relative; }

  .menu a {
    font-size: 0.4em; }

  div.menu {
    height: 9%; }

  div.tel-nav {
    line-height: 0.9em; }

  header .contacts {
    margin-top: 16%; }

  h1 {
    font-size: 1.4em;
    line-height: 1em; }

  h2 {
    font-size: 1.2em;
    line-height: 1em; }

  h3 {
    font-size: 1.1em;
    line-height: 1.3em; }

  .size-small {
    font-size: 0.4em; }

  section.service-gallery .text p {
    font-size: 0.8em;
    line-height: 1em; }

  footer p {
    font-size: 0.8em;
    line-height: 1.2em; }

  content.materials {
    padding-top: 12%;
    padding-bottom: 10%; }

  content.materials .text p {
    font-size: 0.8em; }

  content.photo-gallery div.content {
    width: 70%;
    position: relative;
    top: 15%; }

  content.photo-gallery p {
    font-size: 0.8em;
    line-height: 1em; }

  content.contacts {
    width: 100%; } }
@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding-top: 4%; }

  header .tel {
    display: none; }

  .dropdown-menu-responsive {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%; }

  .dropdown .logo {
    width: 80%; }

  div.menu {
    display: none; }

  button.dropbtn {
    display: block; }

  .dropdown-tel a {
    font-size: 0.4em; }

  .size-small, .size-large {
    font-size: 0.7em;
    line-height: 1.2em; }

  h1 {
    font-size: 1.2em;
    line-height: 1em; }

  h2 {
    font-size: 1.1em;
    line-height: 1em; }

  h3 {
    font-size: 1em;
    line-height: 1.2em; }

  h4 {
    font-size: 0.9;
    line-height: 1em; }

  section.service-gallery h3 {
    font-size: 1.2em;
    line-height: 1.7em; }

  section.service-gallery .text p {
    font-size: 0.9em;
    line-height: 1em; }

  section.advantages-container p {
    font-size: 0.85em;
    line-height: 1em; }

  footer p {
    font-size: 0.8em;
    line-height: 1.1em; }

  footer .logo {
    width: 50%; }

  content.materials {
    padding: 4%; }

  content.materials .block {
    margin-top: 4%; }

  content.materials .text {
    margin-top: 6%; }

  content.services {
    padding: 7%; }

  content.services .block {
    margin-bottom: 30%; }

  content.services .block .text {
    margin-top: 10%;
    margin-bottom: 6%; }

  content.photo-gallery div.content {
    width: 70%;
    position: relative;
    top: 20%; }

  content.contacts .heading {
    padding-top: 20%; }

  content.contacts .map {
    margin-top: 10%; }

  content.services,
  content.room-services,
  content.photo-gallery,
  content.materials {
    padding-top: 10%; } }
@media (min-width: 320px) and (max-width: 480px) {
  header .contacts {
    margin-top: 20%; }

  header .logo {
    display: block; }

  .dropdown-menu-responsive {
    display: block;
    padding-top: 2%;
    padding-bottom: 2%; }

  .dropdown-menu-responsive a {
    line-height: 1em; }

  div.tel-nav {
    display: none; }

  .menu {
    display: none; }

  button.dropbtn {
    display: block; }

  .size-small, .size-large {
    font-size: 0.6em; }

  header div.heading p {
    font-size: 1em;
    line-height: 1em;
    padding: 2%; }

  h1 {
    font-size: 1.5em;
    line-height: 1em; }

  h2 {
    font-size: 1.2em;
    line-height: 1em; }

  h3 {
    font-size: 1em;
    line-height: 1.3em; }

  h4 {
    font-size: 0.9em;
    line-height: 1em; }

  section.service-gallery h3 {
    font-size: 0.8em;
    line-height: 1.2em; }

  section.service-gallery .text p {
    font-size: 0.9em;
    line-height: 1em; }

  section.advantages-container p {
    font-size: 0.85em;
    line-height: 1em; }

  footer {
    display: block;
    padding: 4%;
    padding-bottom: 20%; }

  footer p {
    font-size: 0.8em;
    line-height: 1.4em; }

  footer a {
    line-height: 1em; }

  content.materials {
    padding: 4%; }

  content.materials .block {
    margin-top: 4%; }

  content.materials .text {
    margin-top: 6%; }

  content.materials .photos {
    margin-top: 4%;
    text-align: center; }

  content.materials .photos img {
    margin-left: 0; }

  content.services {
    padding: 7%; }

  content.services h3, content.room-services h3 {
    font-size: 1.4em; }

  content.services .block {
    margin-bottom: 30%; }

  content.services .block .text {
    margin-top: 10%;
    margin-bottom: 6%; }

  content.room-services, content.photo-gallery, content.materials, content.services {
    padding-bottom: 10%; }

  content.room-services .photos {
    margin-bottom: 4%;
    text-align: center; }

  content.photo-gallery div.content {
    width: 70%;
    position: relative;
    top: 30%; }

  content.photo-gallery .prev, content.photo-gallery .next {
    top: 66%; }

  content.contacts .heading {
    padding-top: 16%; }

  content.contacts .map {
    margin-top: 10%; }

  content.services,
  content.room-services,
  content.photo-gallery,
  content.materials {
    padding-top: 18%; } }
body {
  margin: 0 auto; }

.layout {
  display: block;
  position: relative;
  width: 85%;
  margin: 0 auto; }

a:hover {
  text-decoration: none; }

section.service-gallery {
  display: block;
  background-color: #000000;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 100%; }

.block-service {
  display: block;
  margin-top: 4%;
  padding: 0;
  height: 30%;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px; }

section.service-gallery .photo-part {
  display: block;
  width: 100%;
  text-align: center; }

.photo-part img {
  width: 72%;
  height: 100%; }

section.service-gallery .heading {
  display: block;
  width: 100%;
  height: 15%;
  background-color: #3a474b;
  text-align: center; }

section.service-gallery .text {
  display: block;
  padding: 2% 4%;
  width: 100%; }

.block-service:hover .heading {
  background-color: #ffa200; }

section.advantages-container {
  display: block;
  background-color: #000000;
  padding: 1%; }

.block-advantages {
  display: block;
  margin-bottom: 2%;
  padding: 2%;
  text-align: center; }

section.advantages-container .icon {
  text-align: center;
  margin-bottom: 2%; }

section.advantages-container .list-container {
  display: block;
  margin-bottom: 4%;
  margin-left: 2%; }

.block-advantages h4 {
  margin-bottom: 4%; }

footer {
  display: block;
  width: 100%;
  background-color: #3a474b;
  padding: 2% 1.6%;
  text-align: center; }

footer .logo img {
  width: 60%;
  margin-top: 4%;
  height: auto; }

content.contacts {
  display: block;
  width: 100%;
  height: 120vh;
  background-color: #000000;
  padding-top: 10%;
  padding-bottom: 20%; }

content.contacts .map {
  display: block;
  width: 100%;
  height: 100%; }

a.nav-toggle {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #ffa200;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
