$main_color_text: #ffa200;
$color_backgrd_green: #3a474b;
$color_backgrd_black: #000000;
$color_white: #ffffff;

@import 'font-face';
@import 'header';
@import 'materials';
@import 'services';
@import 'room-services';
@import 'photo-gallery';
@import 'laptop-responsive';
@import 'tablet-responsive';
@import 'large-mobile-responsive';
@import 'small-mobile-responsive';




body {
	margin: 0 auto;
	
}

.layout {
	display: block;
	position: relative;
	width: 85%;
	margin: 0 auto;

}

a:hover {
	text-decoration: none;
}


// Услуги автосервиса 

section.service-gallery {
	display: block;
	background-color: $color_backgrd_black;
	padding-top: 4%;
	padding-bottom: 4%;
	width: 100%;
	
	
}

.block-service {

	display: block;
	margin-top: 4%;
	padding: 0;
	height: 30%;
	background-color: $color_white;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
}



section.service-gallery .photo-part {
	display: block;
	width: 100%;
	text-align: center;
}

.photo-part img {
	width: 72%;
	height: 100%;
}

section.service-gallery .heading {
	display: block;
	width: 100%;
	height: 15%;
	background-color: $color_backgrd_green;
	text-align: center;
}

section.service-gallery .text {
	display: block;
	padding: 2% 4%;
	width: 100%;

}


.block-service:hover .heading {
	background-color: $main_color_text;
}

// Преимущества 

section.advantages-container {
	display: block;
	background-color: $color_backgrd_black;
	padding: 1%;

} 

.block-advantages {
	display: block;
	margin-bottom: 2%;
	padding: 2%;
	text-align: center;
}

section.advantages-container .icon {
	text-align: center;
	margin-bottom: 2%;
}

section.advantages-container .list-container {
	display: block;
	margin-bottom: 4%;
	margin-left: 2%;
} 

.block-advantages h4 {
	margin-bottom: 4%;
}


// FOOTER

footer {
	display: block;
	width: 100%;
	background-color: $color_backgrd_green;
	padding: 2% 1.6%;
	text-align: center;
}



footer .logo img {
	width: 60%;
	margin-top: 4%;
	height: auto;

}


// contacts  page

content.contacts {
	display: block;
	width: 100%;
	height: 120vh;
	background-color: $color_backgrd_black;
	padding-top: 10%;
	padding-bottom: 20%;

}

content.contacts .map {
	display: block;
	width: 100%;
	height: 100%;
}

//// "Read more" link

a.nav-toggle {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color: $main_color_text;
	text-decoration: none;
	

}







