// @font-face {
// font-family: Exo-Medium;
// src:url(../fonts/Exo_2/Exo2-Medium.ttf);
// }

// @font-face {
// 	font-family: Exo-Bold;
// 	src:url(../fonts/Exo_2/Exo2-SemiBold.ttf);
// }

// @font-face {
// 	font-family: Exo-Light;
// 	src:url(../fonts/Exo_2/Exo2-Light.ttf);
// }


h1 {
	
	text-align: center;
	color: $main_color_text;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 2em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 2%;
}


h2 {
	margin: 0;
	text-align: center;
	color: $color_white;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 1.5625em;
	line-height: 0.9em;
}

h3 {
	margin: 0;
	line-height: 2em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 1.375em;
	color: $color_white;

}

h4 {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: $main_color_text;
	line-height: 1.1em;
}


p {
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	margin: 0;
}

.color-1 {
	color: $main_color_text;
}

.color-2 {
	color: $color_white;
}

a.color-1:hover {
	color: $color_white;
}

a.color-2:link {
	color: $color_white;
	text-decoration: none;
}

a.color-2:hover, a.color-2:active, {
	color: $main_color_text;
}




.size-small {
	font-size: 1em;
}

.size-large {
	font-size: 1.1em;
}

section.service-gallery .text p {
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: $color_backgrd_black;
	text-align: justify;
}

