
.shadow-block {
	display: block;
	width: 100%;
	height: auto;
	background: rgba($color_backgrd_black,0.5);
	padding: 1%;
}

header {
	display: block;
	width: 100%;
	height: auto;
	background: url(../../images/garage.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

header .contacts {
	margin-top: 12%;
}


.adress {
	text-align: right;
}

.heading {
	display: block;
	width: 100%;
	margin-top: 4%;
	margin-bottom: 4%;
}

.heading p {
	color: $color_white;
	font-size: 1.125em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 1.1em;
	padding: 2%;
}

// navigation for desktop, laptop,tablet

div.menu {
	display: block;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: $color_backgrd_green;
	opacity: 0.8;
	padding-top: 1%;	
		
}

.dropdown-menu {
	background-color: $color_backgrd_green;
}

.navbar-brand img {
	width: 100%;
}

div.tel-nav {
	display: block;
	
}




.navbar a {
	line-height: 3em;
}



.menu a {
	
	font-size: 1.03em;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	color: $main_color_text;
}

.menu a:hover {
	color: $color_white;
	background-color: $color_backgrd_green;
}

.menu a:focus {
	color: $main_color_text;

}

//



//for mobile resolution dropdown menu //

.dropdown-menu-responsive {
	position: fixed;
	z-index: 10;
	display: none;
	width: 100%;
	background-color: rgba($color_backgrd_green,0.8);
	
}

button.dropbtn {
	display: none;
	width: 100%;
	margin-top: 4%;
	margin-left: 20%;
	background-color: $color_backgrd_black;
	opacity: 1; 
	border: none;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-o-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	color: $main_color_text;
	font-size: 1.2em;
	font-family: Exo-Medium;
	cursor: pointer;
}




.dropbtn:hover, .dropbtn:focus {
	opacity: 0.9;    
}

.dropdown-content {
    display: none;
    width: 100%;
    text-align: center;
    opacity: 1;
    z-index: 3;
    background-color: rgba($color_backgrd_black,0.6);
   
}

.dropdown-content a {
	display: block;
	font-family: Exo-Medium;
	font-size: 0.8em;
    color: $main_color_text;
    text-decoration: none;
    text-transform: uppercase;
    padding: 2%;
    border-bottom: 1px solid rgba($color_white, 0.2);
}

.dropdown-content a:hover {
	color: $color_white;
}

.dropdown-content a:hover {
	background-color: $color_backgrd_black;
	opacity: 0.8;
	color: $color_white;
}

.show {display:block;}



