content.services {
	display: block;
	width: 100%;
	height: auto;
	background-color: $color_backgrd_black;
	opacity: 1;
	padding-top: 10%;
	padding-bottom: 4%;
	text-align: center;
}


content.services .heading {
	display: block;
	margin-bottom: 1%;
	text-align: center;
	width: 100%;
}


content.services h3 {
	font-size: 1.5625em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	color: $main_color_text;
	letter-spacing: 0.15625em;
}

content.services .photos {
	display: block;
	width: 100%;
	margin-bottom: 2%;

}

content.services  img {
	width: 90%;
	height: 100%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
}




content.services .text {
	display: block;
	height: auto;
	width: 100%;
	padding: 2%;
	border: 1px solid #5f6671;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	text-align: center;
	
}

content.services .text p {
	font-size: 1em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: justify;
	color: $color_white;
}



