@media (min-width: 1025px) and (max-width: 1280px) {
	
	div.menu {
		height: 6%;
	}

	.menu a {
		font-size: 0.6em;

	}



	p.size-small {
		font-size: 1em;
	}

	p.size-large {
		font-size: 1.1em;
	}

	h1 {
		font-size: 1.8em;
		line-height: 1em;
	}

	h2 {
		font-size: 1.4em;
		line-height: 1em;
	}

	h3 {
		font-size: 1.2em;
		line-height: 1.3em;
	}


	section.service-gallery .text p {
		font-size: 1em;
		line-height: 1em;
	}

	footer p {
		font-size: 0.9em;
		line-height: 1.2em;
	}

	content.contacts {
		height: 100%;
	}


}













