@media (min-width: 481px) and (max-width: 767px) {

// dropdown menu //
	header {
		padding-top: 4%;

	}


	header .tel {
		display: none;
	}

	.dropdown-menu-responsive {
		display: block;
		padding-top: 2%;
		padding-bottom: 2%;
		
	}

	.dropdown .logo {
		width: 80%;
		
	}


	div.menu {
		display: none;
	}

	button.dropbtn {
		display: block;
	}

	.dropdown-tel a {
		font-size: 0.4em;
	}

//

	
	.size-small, .size-large {
		font-size: 0.7em;
		line-height: 1.2em;
	}



	h1 {
		font-size: 1.2em;
		line-height: 1em;
	}

	h2 {
		font-size: 1.1em;
		line-height: 1em;
	}

	h3 {
		font-size: 1em;
		line-height: 1.2em;
	}

	h4 {
		font-size: 0.9;
		line-height: 1em;
	}
	
	section.service-gallery h3 {
		font-size: 1.2em;
		line-height: 1.7em;
	}


	section.service-gallery .text p {
		font-size: 0.9em;
		line-height: 1em;
	}

	section.advantages-container p {
		font-size: 0.85em;
		line-height: 1em;
	}

	footer p {
		font-size: 0.8em;
		line-height: 1.1em;
	}

	footer .logo {
		width: 50%;
	}

	content.materials {
		padding: 4%;
		
	}

	content.materials .block {
		margin-top: 4%;
	}

	content.materials .text {
		margin-top: 6%;

	}

	content.services {
		padding: 7%;
		
	}

	content.services .block {
		margin-bottom: 30%;
	}

	content.services .block .text {
		margin-top: 10%;
		margin-bottom: 6%;
	}

	content.photo-gallery div.content {
		width: 70%;
		position: relative;
		top: 20%;
	}

	content.contacts .heading {
		padding-top: 20%;
	}	

	content.contacts .map {
		margin-top: 10%;
	}

	content.services, 
	content.room-services, 
	content.photo-gallery,
	content.materials,
	  {
		padding-top: 10%;
	}

}