content.materials {
	display: block;
	background-color: $color_backgrd_black;
	padding-top: 6%;
	padding-bottom: 4%;
}

content.materials .photos img {
	width: 80%;
	height: 100%;
	margin-left: 20%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
}

content.materials .text {
	display: block;
	width: 100%;
	height: auto;
	padding: 4% 4%;
	margin-top: 4%;
	border: 1px solid #5f6671;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	text-align: center;
}

content.materials .text p {
	font-size: 1em;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: justify;
	color: $color_white;
}





