
.font-color-light-grey {
	color: $font_color;
}

.font-color-dark-grey {
	color: $main_color;
}

.font-color-light {
	color: $addit_color;
}

.font-color-dark {
	color: $main_color;
}

h2 {
	font-size: 1.6em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-top: 2%;
	margin-bottom: 0;	
}

h4 {
	font-size: 1.2em;
	line-height: 1.1em;
	margin-top: 2%;
	margin-bottom: 2%;

}

#suggest-container h4 {
	color: $main_color;
}

hr {
	width: 10%;
	height: 2px;
	margin-bottom: 4%;
	background-color: $btn_color;
	border: none;
	transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
}

section:hover hr {
	width: 35%;
	transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	-moz-transition: 1s;
}

p {
	font-size: 1.2em;
	line-height: 1.4em;
}






