@media (min-width: 768px) and (max-width: 991px) {
	header div.banner-block {
		height: auto;
		right: 4%;
	}

	header div.banner-block p {
		font-size: 1.1em;
	}

	header div.banner-block, 
	header div.heading-block {
		top: 24%;
	}

	header div.heading-block {
		left: 6%;
	}

	nav a {
		font-size: 1em;
	}

	#suggest-container div.auto-center {
		left: 33%;
		width: 40%;
	}

	#suggest-container div.auto-center img {
		width: 100%;
	}


	#suggest-container div.lot-1 {
		left: 9%;
		top: 44%;
	}

	#suggest-container div.lot-2 {
		right: 8%;
	}
	
	#suggest-container div.lot-3 {
		top: 45%;
		right: 4%;
	}

	#suggest-container div.lot-4 {
		bottom: 11%;
		right: 8%; 
	}

	#suggest-container div.lot-5 {
		bottom: 4%;
		right: 26%;
	}

	#suggest-container div.lot-6 {
		left: 11%;
		bottom: 8%;
	}

	#suggest-container div.lot-7 {
		bottom: 4%;
		left: 32%;
	}

	#suggest-container div.lot-8 {
		left: 44%;
	}	

	#suggest-container div.lot-9 {
		top: 17%;
		left: 15%;
	}

	#features-container {
		padding-bottom: 10%;
	}

	#chain-container div.block p {
		font-size: 0.74em;
	}

	#callback-container a {
		font-size: 1em;
	}

	#callback-container input, #callback-container textarea {
		font-size: 0.7em;
	}

	#callback-container .btn {
		width: 40%;
	}

	footer a {
		font-size: 1em;
	}

}










