@media (min-width: 768px) and (max-width: 991px) {
	header div.banner-block {
		height: 30%;
	}

	.block p {
		font-size: 0.9em;
	}

	#suggest-container div.auto-center img {
		width: 46%;
		left: 26%;
	}

	#suggest-container div.lot-1 {
		left: 6%;
	}

	#suggest-container div.lot-2 {
		right: 8%;
	}
	
	#suggest-container div.lot-3 {
		top: 45%;
		right: 4%;
	}

	#suggest-container div.lot-4 {
		bottom: 11%;
		right: 8%; 
	}

	#suggest-container div.lot-5 {
		bottom: 4%;
		right: 26%;
	}

	#suggest-container div.lot-6 {
		left: 12%;
	}

	#suggest-container div.lot-7 {
		bottom: 4%;
	}

	#suggest-container div.lot-8 {
		left: 47%;
	}	

	#suggest-container div.lot-9 {
		top: 18%;
		left: 16%;
	}

	#features-container {
		padding-bottom: 10%;
	}

	#callback-container .btn {
		width: 40%;
	}

	footer p {
		font-size: 0.9em;
	}

}










