.font-color-light-grey {
  color: #8d8d8d; }

.font-color-dark-grey {
  color: #404040; }

.font-color-light {
  color: #b0aeae; }

.font-color-dark {
  color: #404040; }

h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 0; }

h4 {
  font-size: 1.2em;
  line-height: 1.1em;
  margin-top: 2%;
  margin-bottom: 2%; }

#suggest-container h4 {
  color: #404040; }

hr {
  width: 10%;
  height: 2px;
  margin-bottom: 6%;
  background-color: #4b86b4;
  border: none;
  transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s; }

section:hover hr {
  width: 35%;
  transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s; }

p {
  font-size: 1.2em;
  line-height: 1.4em; }

.absolute p {
  color: #4b86b4; }

@media (min-width: 992px) and (max-width: 1139px) {
  header div.banner-block {
    height: 32%; }

  header div.banner-block h2 {
    font-size: 1.4em; }

  .block p {
    font-size: 1em; }

  #dialog-callback div.modal-dialog {
    margin-top: 40%; }

  #dialog-suggest div.modal-dialog {
    margin-top: 30%; }

  footer p {
    font-size: 1em; } }
@media (min-width: 768px) and (max-width: 991px) {
  header div.banner-block {
    height: 30%; }

  .block p {
    font-size: 0.9em; }

  #suggest-container div.auto-center img {
    width: 46%;
    left: 26%; }

  #suggest-container div.lot-1 {
    left: 6%; }

  #suggest-container div.lot-2 {
    right: 8%; }

  #suggest-container div.lot-3 {
    top: 45%;
    right: 4%; }

  #suggest-container div.lot-4 {
    bottom: 11%;
    right: 8%; }

  #suggest-container div.lot-5 {
    bottom: 4%;
    right: 26%; }

  #suggest-container div.lot-6 {
    left: 12%; }

  #suggest-container div.lot-7 {
    bottom: 4%; }

  #suggest-container div.lot-8 {
    left: 47%; }

  #suggest-container div.lot-9 {
    top: 18%;
    left: 16%; }

  #features-container {
    padding-bottom: 10%; }

  #callback-container .btn {
    width: 40%; }

  footer p {
    font-size: 0.9em; } }
@media (min-width: 576px) and (max-width: 767px) {
  nav div.top-tagline a {
    font-size: 0.84em; }

  nav div.navbar-collapse {
    text-align: left;
    font-size: 1.2em; }

  header div.banner-block {
    height: 28%; }

  #suggest-container div.auto-center img {
    width: 46%;
    left: 26%; }

  #suggest-container div.lot-1 {
    left: 6%; }

  #suggest-container div.lot-2 {
    right: 8%; }

  #suggest-container div.lot-3 {
    top: 45%;
    right: 4%; }

  #suggest-container div.lot-4 {
    bottom: 11%;
    right: 8%; }

  #suggest-container div.lot-5 {
    bottom: 4%;
    right: 26%; }

  #suggest-container div.lot-6 {
    left: 12%; }

  #suggest-container div.lot-7 {
    bottom: 4%; }

  #suggest-container div.lot-8 {
    left: 47%; }

  #suggest-container div.lot-9 {
    top: 18%;
    left: 16%; }

  #features-container {
    padding-bottom: 10%; }

  #features-container a.carousel-control-next {
    right: -32px; }

  #features-container a.carousel-control-prev {
    left: -28px; }

  #callback-container div.contact-container {
    border: none; } }
@media (max-width: 575px) {
  header div.banner-block {
    height: 28%; }

  header div.banner-block .btn {
    width: 60%; }

  header div.banner-block h2 {
    font-size: 1.4em; }

  nav div.top-tagline a {
    font-size: 0.5em; }

  section#suggest-container {
    height: 700px; }

  #suggest-container div.auto-center {
    display: none; }

  #suggest-container div.absolute {
    position: relative; }

  #suggest-container h4 {
    font-size: 0.9em; }

  #suggest-container p {
    font-size: 1em; }

  #suggest-container img {
    margin-bottom: 10%; }

  #suggest-container div.lot-1,
  #suggest-container div.lot-2,
  #suggest-container div.lot-3,
  #suggest-container div.lot-4,
  #suggest-container div.lot-5,
  #suggest-container div.lot-6,
  #suggest-container div.lot-7,
  #suggest-container div.lot-8,
  #suggest-container div.lot-9 {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }

  #features-container {
    padding-bottom: 15%; }

  #features-container a.carousel-control-next {
    display: none; }

  #features-container a.carousel-control-prev {
    display: none; }

  #chain-container div.block {
    margin-bottom: 6%; }

  #chain-container div.picture-arrow-block img {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

  #callback-container {
    padding-bottom: 10%; }

  #callback-container div.contact-container a {
    font-size: 0.9em; }

  #callback-container .btn {
    width: 40%; }

  #dialog-callback h3, #dialog-suggest h3 {
    font-size: 1.1em; } }
.layout {
  display: block;
  width: 75%;
  margin: 0 auto; }

content {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfdfde; }

nav {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 10;
  background-color: rgba(64, 64, 64, 0.8); }

nav a {
  color: #8d8d8d;
  font-size: 1em;
  text-decoration: none; }

nav a:hover, nav a:focus {
  color: #b0aeae;
  text-decoration: none; }

nav .contacts {
  margin-top: 5%; }

.top-tagline {
  display: block;
  height: auto; }

.top-navigation {
  display: block;
  border-top: 1px solid rgba(75, 134, 180, 0.2); }

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate both; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }
p.logo {
  font-size: 2em;
  color: #4b86b4;
  line-height: 1.8em; }

header {
  display: block;
  position: relative; }

.parallax-window {
  min-height: 1080px;
  background: transparent; }

.banner-block, .heading-block {
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
  height: auto;
  z-index: 10;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #fff;
  text-align: center;
  background-color: rgba(64, 64, 64, 0.8);
  border-radius: 40px; }

.banner-block h3 {
  margin-bottom: 4%; }

.btn {
  width: 30%;
  padding: 2%;
  border: none;
  border-radius: 10px;
  background-color: #4b86b4;
  color: #dfdfde; }

.banner-block .btn {
  margin-top: 6%; }

section .carousel-item img {
  width: 100%; }

section .carousel-indicators {
  bottom: -35px; }

section .carousel-control-next, section .carousel-control-prev {
  width: 6%; }

#advantages-container img {
  margin-bottom: 10%; }

input.form-control {
  margin-bottom: 4%;
  padding: 4%; }

textarea {
  height: 200px;
  margin-bottom: 2%; }

.contact-container {
  display: block;
  border-right: 1px solid rgba(75, 134, 180, 0.2);
  text-align: left; }

section, footer {
  display: block;
  width: 100%;
  height: auto;
  padding: 4%;
  text-align: center; }

#about_us-container, #chain-container, footer {
  background-color: #696969; }

#advantages-container, #features-container, #callback-container {
  background-color: #dfdfde; }

#suggest-container {
  background-color: #dfdfde;
  position: relative;
  height: 800px; }

#map-container {
  width: 100%;
  height: auto;
  padding: 0; }

#suggest-container .auto-center {
  display: block; }

#suggest-container .auto-center img {
  display: block;
  position: absolute;
  top: 41%;
  left: 34%;
  width: 32%;
  height: 30%; }

#suggest-container .absolute {
  display: block;
  position: absolute;
  width: 150px;
  height: auto;
  padding: 0;
  margin: 0;
  cursor: pointer; }

#suggest-container .absolute:hover {
  border: 1px solid rgba(176, 174, 174, 0.5);
  box-shadow: 0 0 10px #b0aeae; }

#suggest-container .absolute img {
  height: 100px;
  width: auto; }

#suggest-container .lot-1 {
  top: 42%;
  left: 8%; }

#suggest-container .lot-2 {
  top: 21%;
  right: 25%; }

#suggest-container .lot-3 {
  top: 41%;
  right: 12%; }

#suggest-container .lot-4 {
  bottom: 13%;
  right: 15%; }

#suggest-container .lot-5 {
  bottom: 7%;
  right: 34%; }

#suggest-container .lot-6 {
  bottom: 11%;
  left: 17%; }

#suggest-container .lot-7 {
  bottom: 8%;
  left: 35%; }

#suggest-container .lot-8 {
  top: 19%;
  left: 40%; }

#suggest-container .lot-9 {
  top: 23%;
  left: 20%; }

#chain-container img {
  width: 100%; }

#chain-container .picture-arrow-block {
  margin-top: 60%; }

#chain-container .text-block p {
  text-align: center;
  color: #dfdfde;
  margin-top: 10%;
  line-height: 1.4em; }

#callback-container .contacts-block {
  display: block;
  margin-bottom: 4%; }

#callback-container .contacts-block a {
  text-align: left;
  color: #404040;
  line-height: 2em; }

#callback-container .contacts-block a:hover,
#callback-container .contacts-block a:focus {
  color: #8d8d8d;
  text-decoration: none; }

#dialog-callback .modal-dialog {
  margin-top: 10%; }

.modal-content {
  background-color: rgba(223, 223, 222, 0.9); }

.modal-dialog input.form-control {
  padding: 2%;
  margin-bottom: 0;
  border-color: rgba(64, 64, 64, 0.5); }

.modal-dialog textarea.form-control {
  margin-bottom: 0;
  border-color: rgba(64, 64, 64, 0.5); }

.modal-dialog h3.form-title {
  text-align: center;
  color: #404040;
  margin-bottom: 4%; }

#dialog-suggest .modal-dialog {
  margin-top: 4%; }

/*# sourceMappingURL=style.css.map */
