$main_color: #2B4C6E;
$white_color: #fff;
$links_color_1: #575a77;
$links_color_2: #787f9f;
$text_color_1: #c6c3bf;
$text_color_2: #575a77;
$text_color_3: #4c5881;
$shadow_color: #e4e2df;
$block_color_1: #787f9f;


@import 'pages';
@import 'fonts';
@import 'responsive-laptop';
@import 'responsive-tablet';
@import 'responsive-phone';



content.wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: $white_color;
    background-color: $main_color;
}

div.layout {
    display: block;
    width: 85%;
    margin: 0 auto;
}

.color-light-section {
    background-color: $shadow_color;
}


.color-text-type-2 {
    color: $text_color_2;
}

.color-text-type-3 {
    color: $text_color_3;
}




// header MAIN PAGE //

header {
    display: block;
    width: 100%; 


}

.header-carousel-img {
    display: block;
    width: 100%;
    height: 700px;
}

header .heading-block {
    display: block;
    padding: 2% 4%;
    background-color: rgba($shadow_color,0.7);
    -webkit-box-shadow: 18px 6px 29px 6px rgba(43,76,110,0.73);
    -moz-box-shadow: 18px 6px 29px 6px rgba(43,76,110,0.73);
    -o--box-shadow: 18px 6px 29px 6px rgba(43,76,110,0.73);
    -ms-box-shadow: 18px 6px 29px 6px rgba(43,76,110,0.73);
    box-shadow: 18px 6px 29px 6px rgba(43,76,110,0.73);
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -o-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    position: absolute;
    bottom: 60px;
    right: 100px;
}

header .heading-block a {
    font-size: 1.4em;
    font-weight: 500;
    text-decoration: none;

}


// NAVIGATION TOP 

.main-top-navigation {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    opacity: 0.7;
}


.logo {
    display: block;
    width: 100%;
    height: 100%;
}

nav .logo img {
    width: 100%;
    margin-top: 15%;
}



nav .tel a {
    font-size: 1.14em;
    line-height: 4.1em;
}

nav .heading-menu p {
    font-size: 1em;
    font-weight: 700;
    margin-top: 2%;
}

nav .menu {
    text-align: center;
}

nav .menu p {
    display: none;
}


nav a {
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 1;
}

nav a:hover,
nav a:focus {
   
    color: $links_color_2;
}

nav li:hover {
    background-color: rgba($shadow_color,0.2);
}

.top-nav-collapse {
        background-color: rgba($shadow_color, 0.9);
    }

// About company section

section.about-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}




//Advantages of company 

section.advantages-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
}

.icon {
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
}



//Suggestion and type of battery

section.suggest-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 6%;
    padding-bottom: 6%; 
    text-align: center;
    
}

.features-block {
    margin-top: 2%;
}

section.suggest-container img {
    width: 100%;
    height: 90%;
}


.car-block {
    display: block; 
    cursor: pointer;
}
// 


//FOOTER //

footer {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

footer a {
    text-align: center;
    font-size: 1em;
    line-height: 1.1em;

}

footer .logo {
    display: block;
    margin-top: 3%;
    
}

footer .logo img {
    width: 100%;
}

// banner settings 

div.banner {
    display: block;
    position: inherit;
    z-index: 2;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}


.parallax {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}


// carousel 

.suggest-carousel-indicators {
    right: 0;
    bottom: -15%;
}

.suggest-carousel-control-left {
    left: -8%;
}

 
.suggest-carousel-control-right {
    right: -8%;
}



#Carousel-car .suggest-carousel-control-left {
    left: 1%;
}

#Carousel-car .suggest-carousel-control-right {
    right: 1%;
}

 .carousel-item .row {
    width: 100%;
}



// Modal suggest-section FORM

.modal-content {
    display: block;
    background-color: $shadow_color;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 2% 4%;
}

.form-control {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.5;
}

.modal-content label {
    font-size: 1em;
    color: $text_color_2;
    opacity: 0.8;

}

h3.form-title {
    margin-top: 0;
    margin-bottom: 8%;
    font-weight: 400;
    color: $text_color_2;
    letter-spacing: 0.1em;

}

.btn-secondary {
    color: $text_color_2;
}

.btn-primary {
    background-color: $main_color;
}







