.banner-gadget-page {
	background-image: url(../../images/banner-gadget.jpg);
}

.banner-laptop-page {
	background-image: url(../../images/banner-laptop-2.jpg);
}

.banner-car-page {
	background-image: url(../../images/banner-car.jpg);
}